<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Blog Home</title>
</head>
<body>
    <div class="main-container">
        <p>Welcome to My Personal Blog, a space dedicated to sharing thoughts, insights, and stories that traverse various topics and interests. The platform is designed with simplicity and ease of use in mind, making it effortless for both avid readers and enthusiastic writers to engage with content that resonates with them.</p>
    </div>
</body>
</html>
<%- include("footer.ejs") %>